{% load static %}
<div class="container py-lg-5 py-md-4">
    <h3 class="section-title-left mb-4"> Top Pick's of this month </h3>
    <div class="row top-pics">
        {% for mb in monthBlogs  %}
        <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
            <div class="top-pic1" style="background: url({{mb.blog_thumbnail.url}}) no-repeat 0px 0px;">
                <div class="card-body blog-details">
                    <a href="{% url 'blog_detail' mb.id %}" class="blog-desc">{{mb.blog_title}}
                    </a>
                    <div class="author align-items-center">
                        <img src="{{mb.writer.profil_image.url}}" alt="" class="img-fluid rounded-circle" />
                        <ul class="blog-meta">
                            <li>
                                <a href="author.html">{{mb.writer.first_name}} {{mb.writer.last_name}}</a> </a>
                            </li>
                            <li class="meta-item blog-lesson">
                                <span class="meta-value"> {{mb.create_blog_date}} </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>  