<aside class="sidebar-left">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <h1><a class="navbar-brand" href="index.html"><span class="fa fa-area-chart"></span> NewsBlog<span class="dashboard_text">Design dashboard</span></a></h1>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="treeview">
              <a href="{% url 'admin_panel' %}">
              <i class="fa fa-dashboard"></i> <span>Dashboard</span>
              </a>
            </li>
            <li class="treeview">
              <a href="#">
              <i class="fa fa-laptop"></i>
              <span>Blog</span>
              <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="{% url 'blogs_list' %}"><i class="fa fa-angle-right"></i> Bloglar</a></li>
                <li><a href="{% url 'slider_blog' %}"><i class="fa fa-angle-right"></i>Slider Blog</a></li>
              </ul>
            </li>
            
            
            <li class="treeview">
              <a href="#">
              <i class="fa fa-tags"></i>
              <span>Kategori</span>
              <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="{% url 'category_list' %}"><i class="fa fa-angle-right"></i> Kategoriler</a></li>
                
              </ul>
            </li>
           
            <li class="treeview">
              <a href="#">
              <i class="fa fa-user"></i> <span>Kullanıcı</span>
              <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="{% url 'user_list' %}"><i class="fa fa-angle-right"></i> Kullanıcılar</a></li>
                
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
              <i class="fa fa-table"></i> <span>İletişim</span>
              <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="{% url 'contact_list' %}"><i class="fa fa-angle-right"></i> Mesajlar</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
              <i class="fa fa-envelope"></i> <span>Mailbox </span>
              <i class="fa fa-angle-left pull-right"></i><small class="label pull-right label-info1">08</small><span class="label label-primary1 pull-right">02</span></a>
              <ul class="treeview-menu">
                <li><a href="inbox.html"><i class="fa fa-angle-right"></i> Mail Inbox </a></li>
                <li><a href="compose.html"><i class="fa fa-angle-right"></i> Compose Mail </a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
              <i class="fa fa-folder"></i> <span>Examples</span>
              <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="login.html"><i class="fa fa-angle-right"></i> Login</a></li>
                <li><a href="signup.html"><i class="fa fa-angle-right"></i> Register</a></li>
                <li><a href="404.html"><i class="fa fa-angle-right"></i> 404 Error</a></li>
                <li><a href="500.html"><i class="fa fa-angle-right"></i> 500 Error</a></li>
                <li><a href="blank-page.html"><i class="fa fa-angle-right"></i> Blank Page</a></li>
              </ul>
            </li>
            <li class="header">LABELS</li>
            <li><a href="#"><i class="fa fa-angle-right text-red"></i> <span>Important</span></a></li>
            <li><a href="#"><i class="fa fa-angle-right text-yellow"></i> <span>Warning</span></a></li>
            <li><a href="#"><i class="fa fa-angle-right text-aqua"></i> <span>Information</span></a></li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
  </aside>